$primary-color: #ffffff;
$secondary-color: #838383;
$primary-background-color: #3e5194;
$secondary-background-color: #081238;


$text-color: #000000;
$text-xl: 24px;
$text-l: 18px;
$text-m: 16px;
$text-s: 14px;